body {
    background-color:rgba(0,255,77,1);
  }


  #hello{
      text-align: center;
      background-color: aqua;
      font-size: 2em;
  }

  #earth{
    text-align: center;
    background-color: brown;
    font-size: 2em;
}

  .example-1 {
      border: 1px solid maroon;
      border-radius: 2%;
      margin: 50px;
      padding: 25px;
      height: 150px;
      width: 250px;
      background-color: gold;
      color:white;
      box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.75);
  }